html {
    background-color: rgb(202, 207, 210);
}

h1 {
    color: blue;
}

nav {
    float: right;
    margin-right: 10%;
    margin-top: -75px;
}

nav ul li {
    display: inline-block;
    background-color: rgb(128, 243, 247);
    width: 150px;
    text-align: center;
}

footer {
    text-align: right;
}

form {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    display: inline-block;
    width: -500px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 800px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}
